<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.core.dao.IProductDao">
  <sql id="c_product">
    <!--最基础属性-->
    _product.id, _product.status, _product.create_time createTime, _product.update_time updateTime,
    <!--通用属性-->
    _product.logic_type logicType, _product.corporation_id corporationId,
    _product.introduction, _product.name, _product.version, _product.abbreviation,
    _product.logo_url logoUrl, _product.primary_category_id primaryCategoryId,
    _product.based_frameworks basedFrameworks, _product.core_functionality coreFunctionality,
    _product.detailed_description detailedDescription, _product.district,
    _product.safety_issue safetyIssue, _product.performance,
    _product.application_field_ids applicationFieldIds,
    <!--特有属性-->
    _product.solution_ids solutionIds, _product.application_case_ids applicationCaseIds,
    _product.software_patent_name softwarePatentName, _product.software_patent_application_date softwarePatentApplicationDate,
    _product.software_patent_publish_date softwarePatentPublishDate, _product.software_patent_registration_number softwarePatentRegistrationNumber,
    _product.classification_number classificationNumber, _product.applicant,
    _product.certification_status certificationStatus, _product.technique_ids techniqueIds,
    _product.technique_feature techniqueFeature, _product.platform_requirement platformRequirement,
    _product.sales_condition salesCondition
  </sql>
  <sql id="t_product">
    product
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultType="com.example.core.entity.Product">
    select <include refid="c_product" />
    from <include refid="t_product"/> _product
    where id = #{id,jdbcType=BIGINT} and status = 0
  </select>
<!--  <insert id="insert" parameterType="user" >-->
<!--    insert into <include refid="t_user"/>-->
<!--    (id, account, password, super_password, real_name, identity_number, nick_name, head_image, phone,-->
<!--    email, gender, rank_id, status, question_id, answer, last_login_ip, last_login_time, create_time,-->
<!--    create_user_id, update_time, update_user_id, province, city, address, current_login_ip, current_login_time, certification_time)-->
<!--    values (#{id}, #{account}, #{password}, #{superPassword}, #{realName}, #{identityNumber}, #{nickName},-->
<!--    #{headImage}, #{phone}, #{email}, #{gender}, #{rankId}, #{status}, #{questionId}, #{answer},-->
<!--    #{lastLoginIp}, #{lastLoginTime}, #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId},-->
<!--    #{province}, #{city}, #{address}, #{currentLoginIp}, #{currentLoginTime}, #{certificationTime})-->
<!--  </insert>-->
</mapper>