<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.core.dao.IUserDao">
  <sql id="c_user">
    <!--最基础属性-->
    _user.id, _user.status, _user.create_time createTime, _user.update_time updateTime,
    <!--特有属性-->
     _user.target_type targetType, _user.corporation_id corporationId,
    _user.position, _user.account, _user.password, _user.real_name realName,
    _user.identity_number identityNumber, _user.nick_name nickName,
    _user.head_image_url headImageUrl, _user.phone, _user.email, _user.gender,
    _user.country, _user.city, _user.province, _user.address
  </sql>
  <sql id="t_user">
    user
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByAccount" parameterType="java.lang.String" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.example.core.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="t_user"/>
    (id, target_type, corporation_id, `position`, account, password, real_name,
    identity_number, nick_name, head_image_url, phone, email, gender, country,
    province, city, address, status, create_time, update_time)
    values (#{id}, #{targetType}, #{corporationId}, #{position}, #{account}, #{password}, #{realName},
    #{identityNumber}, #{nickName}, #{headImageUrl}, #{phone}, #{email}, #{gender},
    #{country}, #{city}, #{province}, #{address}, #{status}, #{createTime}, #{updateTime})
  </insert>
</mapper>