<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.core.dao.IUserDao">
  <sql id="c_user">
    <!--最基础属性-->
    _user.id, _user.status, _user.create_time createTime, _user.update_time updateTime,
    <!--特有属性-->
     _user.target_type targetType, _user.corporation_id corporationId,
    _user.position, _user.account, _user.password, _user.real_name realName,
    _user.identity_number identityNumber, _user.nick_name nickName,
    _user.head_image_url headImageUrl, _user.phone, _user.email, _user.gender,
    _user.country, _user.city, _user.province, _user.address
  </sql>
  <sql id="t_user">
    user
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where id = #{id,jdbcType=BIGINT} and status = 0
  </select>

  <select id="selectByAccount" parameterType="java.lang.String" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where account = #{account,jdbcType=VARCHAR} and status = 0
  </select>

  <select id="selectListAll" resultType="com.example.core.entity.User">
    select <include refid="c_user" />
    from <include refid="t_user"/> _user
    where status = 0
  </select>

  <insert id="insert" parameterType="com.example.core.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="t_user"/>
    (id, target_type, corporation_id, `position`, account, password, real_name,
    identity_number, nick_name, head_image_url, phone, email, gender, country,
    province, city, address, status, create_time, update_time)
    values (#{id}, #{targetType}, #{corporationId}, #{position}, #{account}, #{password}, #{realName},
    #{identityNumber}, #{nickName}, #{headImageUrl}, #{phone}, #{email}, #{gender},
    #{country}, #{city}, #{province}, #{address}, #{status}, #{createTime}, #{updateTime})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.Information" >
    update information
    set type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      read_amount = #{readAmount,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      uri = #{uri,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.Information" >
    update information
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="readAmount != null" >
        read_amount = #{readAmount,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>